name: "Build Package"

on:
  workflow_call:
    inputs:
      name:
        description: "Artifact Name"
        type: string
        required: true
      path:
        description: "Build Path"
        type: string
        default: dist

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Debug event.json"
        continue-on-error: true
        run: cat "${GITHUB_EVENT_PATH}"

      - name: "Debug CTX github"
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      #- name: "Debug Environment"
      #  continue-on-error: true
      #  run: env

      - name: "Setup Python 3.13"
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - name: "Install"
        run: |
          python -m pip install -U pip
          python -m pip install --group dev

      - name: "Build"
        run: |
          python -m build

      - name: "List Artifacts"
        env:
          path: ${{ inputs.path }}
        run: |
          echo "::group::ls"
          ls -lAhR "${path}"
          echo "::endgroup::"
          echo "::group::tree"
          tree "${path}"
          echo "::endgroup::"
          results="$(tree "${path}")"
          markdown='Artifacts:\n```text\n'"${results}"'\n```'
          echo -e "${markdown}" >> $GITHUB_STEP_SUMMARY

      - name: "Upload to Actions"
        uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.name }}
          path: ${{ inputs.path }}

      - name: "Send Failure Notification"
        if: ${{ failure() }}
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          description: ${{ github.event.repository.html_url }}/actions/runs/${{ github.run_id }}
