name: "Build Docs"

on:
  workflow_call:
    inputs:
      name:
        description: "Artifact Name"
        type: string
        default: github-pages
      path:
        description: "Build Path"
        type: string
        default: site

env:
  logo: "https://raw.githubusercontent.com/cssnr/vultr-python/refs/heads/master/.github/assets/logo.svg"
  link: ${{ github.event.repository.html_url }}

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      contents: read

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Debug CTX github"
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Debug"
        continue-on-error: true
        run: |
          echo "logo: ${{ env.logo }}"
          echo "link: ${{ env.link }}"

      - name: "Setup Python 3.13"
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - name: "Build Docs"
        run: |
          python -m pip install -U pip
          python -m pip install -U pdoc
          #python -m pip install -e .
          python -m pdoc -t docs -o "${{ inputs.path }}" \
            --logo "${{ env.logo }}" \
            --logo-link "${{ env.link }}" \
            src/vultr

      - name: "Fix Docs"
        working-directory: ${{ inputs.path }}
        run: |
          mv -f vultr.html index.html

      #- name: "Update Permissions"
      #  run: |
      #    chmod -c -R +rX "${{ inputs.path }}" | while read name; do
      #      echo "::notice::Fixed invalid file permissions: ${name}"
      #    done

      - name: "List Artifacts"
        working-directory: ${{ inputs.path }}
        run: |
          results="$(tree . || ls -lAhR .)"
          echo "::group::results"
          echo "${results}"
          echo "::endgroup::"
          markdown='Artifacts: `${{ inputs.path }}`\n```text\n'"${results}"'\n```'
          echo -e "${markdown}" >> $GITHUB_STEP_SUMMARY

      - name: "Upload Pages Artifact"
        if: ${{ inputs.name == 'github-pages' }}
        uses: actions/upload-pages-artifact@v4
        with:
          path: ${{ inputs.path }}

      - name: "Upload Artifact"
        if: ${{ inputs.name != 'github-pages' }}
        uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.name }}
          path: ${{ inputs.path }}
          if-no-files-found: "error"
          include-hidden-files: true

      - name: "Send Failure Notification"
        if: ${{ failure() }}
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          description: ${{ github.event.repository.html_url }}/actions/runs/${{ github.run_id }}
