name: "Build Docs"

on:
  workflow_call:
    inputs:
      name:
        description: "Artifact Name"
        type: string
        default: github-pages
      path:
        description: "Build Path"
        type: string
        default: site

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Setup Python 3.13"
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - name: "Build Docs"
        run: |
          python -m pip install -U pip
          python -m pip install -U pdoc
          python -m pip install --group dev
          python -m pdoc -o "${{ inputs.path }}" -t docs src/vultr/vultr.py

      - name: "Update Permissions"
        run: |
          chmod -c -R +rX "${{ inputs.path }}" | while read line; do
            echo "::notice::Fixed invalid file permissions: ${line}"
          done

      - name: "List Artifacts"
        env:
          path: ${{ inputs.path }}
        run: |
          ls -lAh ${path}/*
          results="$(ls -lAh ${path}/* | awk '{print $9" - "$5}')"
          markdown='Artifacts:\n```text\n'"${results}"'\n```'
          echo -e "${markdown}" >> $GITHUB_STEP_SUMMARY

      - name: "Upload Pages Artifact"
        if: ${{ inputs.name == 'github-pages' }}
        uses: actions/upload-pages-artifact@v4
        with:
          path: ${{ inputs.path }}

      - name: "Upload Artifact"
        if: ${{ inputs.name != 'github-pages' }}
        uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.name }}
          path: ${{ inputs.path }}
          if-no-files-found: "error"
          include-hidden-files: true

      - name: "Send Failure Notification"
        if: ${{ failure() }}
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          description: ${{ github.event.repository.html_url }}/actions/runs/${{ github.run_id }}
